@font-face {
    font-family: 'Sora';
    src: url(./fuentes/Sora-Regular.ttf);
}
/*Reset CSS*/
/*para eliminar margenes y paddings predeterminados de los navegadores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Selectores TIPO*/
html{
    font-family: 'Sora', sans-serif;
    font-size: 16px; 
    /* Se ajusta el tamaño de fuente base general */
}


body{
    background-color: #fff;
    color: #333;
}

header{
    background-color: #4f6f52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* Se agrega un espacio entre los elementos del header utilizando flexbox 
    para la organización */
}
header img{
    width: 150px;
    height: auto;
}

main{
    padding: 20px;

}

footer{
    background-color: #4f6f52;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1{
    margin-bottom: 10px;
}

h2{
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}
a{
    color: #fff;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
label{
    display: block;
    margin-bottom: 5px;
}
input,select,textarea{
    width: 100%;
    padding: 5px;
}

/*Selectores de CLASE*/

.cabecera-principal{
    display: flex;
}

.contenido-principal{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.pie-principal{
    text-align: center;
}
