*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8fc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
}

header{
    background-color: #1E3A5F;
}

main{
    flex: 1;
}

footer{
    background-color: #1E3A5F;
}

h1{
    font-family: Georgia, serif;
    font-size: 32px;
    color: white;
}

h2{
    font-family: Georgia, serif;
    color: #1E3A5F;
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

section{
    padding: 20px;
    margin: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #999999;
}

ul{
    margin-left: 20px;
}

.cabecera-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.cabecera-principal img{
    width: 90px;
    height: auto;
}

.cabecera-principal nav{
    margin-top: 15px;
}


.cabecera-principal nav a{
    color: white;
    margin: 10px;
}

.contenido-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion,
.servicios,
.trayectoria,
.certificaciones,
.formulario-contacto,
.informacion-extra{

    background-color: white;
    width: 80vw;

    border: 1px solid #cccccc;
}

.presentacion img{
    width: 200px;
    display: block;
    margin: 15px auto;
}

.trayectoria img{
    width: 200px;
    display: block;
    margin: 15px auto;
}

.certificaciones img{
    width: 150px;
    margin: 10px;
}

.informacion-extra img{
    width: 200px;
    margin: 10px;
}

.servicios li{
    margin-bottom: 8px;
}

.formulario-contacto form{
    display: flex;
    flex-direction: column;
}

.formulario-contacto button{

    background-color: #F4A261;

    color: white;

    border: none;

    padding: 10px;

    cursor: pointer;
}

.pie-principal{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 40px;

    color: white;

    padding: 20px;
}